

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #FFA31A; /*Orange*/
}
#logo {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-color: #FFA31A;
    color: #808080;
    margin: 0 auto;
}
.logo:hover{
    color: white;
}

.a {
    color: #FFA31A;
}

a {
    color: #FFA31A;
}

 a:hover {
        color: #808080;
 }

title {
    color: #292929;
}

.btn-primary, .btn-primary::after, .btn-primary:active {
    color: #FFA31A; /*Hellgrau*/
    /* background-color: #292929; Dunkelgrau*/
    background-color: #FFA31A;
    border-color: #808080;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-group:hover, .btn-group:active {
    background-color: #FFA31A;
}




html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;

    
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #292929;
}

.header {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 20px;
    margin: 10px;
}

.profile_pic {
    height: 80px;
    width: 80px;
    margin: 0 15px 0 0;
    border: 3px solid #1b6ec2;
}

.container {
    color: #FFA31A;
}



.login {
    border: 5px solid #565050;
    text-align: center;
    background-color: rgba(51, 49, 50, 0.69);
    position: absolute;
}
    .login input {
        border-radius: 5px;
        width: 300px;
    }

    p{
        align-content: baseline;
    }

    .redBorder{
        border: 2px solid red;
    }