@model TechnicHub.Models.Chatpost;


@{
    ViewData["Title"] = "Add Post";
}

<!--- asp-controller ... an welchen Controller soll das Formular gesendet werden
 asp-action ... an welche Methode in diesem Controller
    Formulare werden zu 99% oer post versendet
    -->
<form asp-controller="User" asp-action="AddPost" method="post">
    

        <label asp-for="ChatpostMessage"> Nachricht</label> <br />
        <input type="text" asp-for="ChatpostMessage" />
        <span asp-validation-for="ChatpostMessage"></span>

     

    
        <input class="btn btn-primary btn-group" type="submit" value='absenden' />
        <input class="btn btn-primary btn-group" type="reset" value='abbrechen' />
   



</form>

