@model TechnicHub.Models.Chatpost;

@{
    ViewData["Title"] = "View";
}


<form asp-controller="user" asp-action="chatforum" method="post">
    <p> 
        <label asp-for="ChatpostMessage"> Nachricht</label> <br />
        <input type="text" asp-for="ChatpostMessage" />
        <span asp-validation-for="ChatpostMessage"></span>  
       
        <input type="submit" value="Senden" />

    </p>

</form>

<br /><br />

<div>
  
   @* <p>@Model.ChatpostUser schrieb: </p>
    <br/>
    <p>@Model.ChatpostMessage</p>*@


</div>