@model TechnicHub.Models.Chatpost;

@{
    ViewData["Title"] = "View";
}


<form asp-controller="user" asp-action="chatforum" method="post">
   <p>
       Chatrooms:
        @foreach (var chatroom in Model.Chatrooms){
                <input type="radio" name="chatroom" value="@(chatroom.Id)" />

            @(chatroom.Name)
        }
   </p>
   
   <p>
       <input type="Add" value="Add" />
   </p>
    

</form>

<br /><br />

<div>
  
  


</div> 

@*<p> 
        <label asp-for="ChatpostMessage"> Nachricht</label> <br />
        <input type="text" asp-for="ChatpostMessage" />
        <span asp-validation-for="ChatpostMessage"></span>  
       
        <input type="submit" value="Senden" />

    </p>*
    
    @* <p>@Model.ChatpostUser schrieb: </p>
    <br/>
    <p>@Model.ChatpostMessage</p>*@