@model TechnicHub.Models.ProfileAndLanguages;

@{
    ViewData["Title"] = "View";
}


<form asp-controller="user" asp-action="chatforum" method="post">
    <p>
        <label asp-for="Profile.Username"> Benutzername</label> <br />
        <input type="text" asp-for="Profile.Username" />
        <span asp-validation-for="Profile.Username"></span>
    </p>

</form>