@model List<TechnicHub.Models.Chatpost>;

@{
    ViewData["Title"] = "View";
}


<div>

    @foreach (Chatpost c in Model)
    {
        <p>@c.ChatpostDate</p>
        <p>@c.ChatpostUser schrieb:</p>
        <p>@c.ChatpostMessage </p>

        <form action="/user/DeletePost/@c.ChatpostId" method="get">
            <input type="submit" value="Delete" />
        </form>
    }

    <form action="/user/AddPost/" method="get">
        <input type="submit" value="Add" />
    </form>




</div> 

