@model TechnicHub.Models.Message

<div class="msg">
    <h3>@Model.Header</h3>
    <p>
        <b>Meldung:</b>
        <br />
        @Model.MessageText
    </p>

    @if ((Model.Solution != null) && (Model.Solution.Trim().Length >= 1))
    {
        <p>
          
            @Model.Solution
        </p>
    }

    <a href='javascript:history.go(-1)'>Zurück zur vorherigen Seite</a>
</div>