@model TechnicHub.Models.Profile;

@{
    ViewData["Title"] = "Register";
}


<h3>Registration</h3>


<form asp-controller="profile" asp-action="registration" method="post">
    <p>
        <label class="" asp-for="Username"> Benutzername</label> <br />
        <input type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </p>
    <p>
        <label asp-for="Password"> Password</label> <br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <label asp-for="Birthdate"> Geburtsdatum</label> <br />
        <input type="date" asp-for="Birthdate" />
        <span asp-validation-for="Birthdate"></span>
    </p>
    <p>
        <label asp-for="EMail"> E-Mail</label> <br />
        <input type="email" asp-for="EMail" />
    </p>
    <p>
        <label asp-for="Gender"> Geschlecht</label> <br />

        <select asp-for=" Gender">
            <option value="0">männlich</option>
            <option value="1">männlich</option>
            <option value="2">nicht AngegebeN!</option>
        </select>
    </p>

    </p>
    <p>
        <input  class="btn btn-primary btn-group" type="submit" value='absenden' />
        <input  class="btn btn-primary btn-group" type="reset" value='abbrechen' />
    </p>

    
    @* Hinzufügen der verschiedenen programmiersprachen zum Auswählen bei der Registrierung--> *@
</form>

