@model TechnicHub.Models.ProfileAndLanguages;

@{
    ViewData["Title"] = "Register";
}


<h3>Registration</h3>

<!--- asp-controller ... an welchen Controller soll das Formular gesendet werden
 asp-action ... an welche Methode in diesem Controller
    Formulare werden zu 99% oer post versendet
    -->
<form asp-controller="profile" asp-action="registration" method="post">
    <p>
        <label asp-for="Profile.Username"> Benutzername</label> <br />
        <input type="text" asp-for="Profile.Username" />
        <span asp-validation-for="Profile.Username"></span>
    </p>
    <p>
        <label asp-for="Profile.Password"> Password</label> <br/>
        <input type="password" asp-for="Profile.Password" />
        <span asp-validation-for="Profile.Password"></span>
    </p>
    <p>
        <label asp-for="Profile.Birthdate"> Geburtsdatum</label> <br />
        <input type="date" asp-for="Profile.Birthdate" />
        <span asp-validation-for="Profile.Birthdate"></span>
    </p>
    <p>
        <label asp-for="Profile.EMail"> E-Mail</label> <br />
        <input type="email" asp-for="Profile.EMail" />
    </p>
    <p>
        <label asp-for="Profile.Gender"> Geschlecht</label> <br />

        <select asp-for="Profile.Gender">
            <option value="0">männlich</option>
            <option value="1">weiblich</option>
            <option value="2">nicht Angegeben!</option>
        </select>
    </p>

    <p>

        <input type="checkbox" id="JAVA" asp-for="Languages" value="0">
        <label for="0">JAVA</label><br>
         
        <input type="checkbox" id="Python" name="fav_language" value="1">
        <label for="1">Python</label><br>

        <input type="checkbox" id="Mysql" name="fav_language" value="2">
        <label for="2">Mysql</label>

        <input type="checkbox" id="JavaScript" name="fav_language" value="3">
        <label for="3">JavaScript</label>

        <input type="checkbox" id="C++" name="fav_language" value="4">
        <label for="4">C++</label>
        <input type="checkbox" id="C#" name="fav_language" value="5">
        <label for="5">C#</label>

        <input type="checkbox" id="Rust" name="fav_language" value="6">
        <label for="6">Rust</label>

        <input type="checkbox" id="Kotlin" name="fav_language" value="7">
        <label for="7">Kotlin</label>

        <input type="checkbox" id="Not specified" name="fav_language" value="8">
        <label for="Not specified">Not specified</label>

        @*<select asp-for=" pLanguage">
            <option value="0">JAVA</option>
            <option value="1">Python</option>
            <option value="2">Mysql</option>
            <option value="3">JavaScript</option>
            <option value="4">C++</option>
            <option value="5">C#</option>
            <option value="6">Rust</option>
            <option value="7">Kotlin</option>
            <option value="8">Not specified</option>
        </select>*@
    </p>

    <p>
        <input class="btn btn-primary btn-group" type="submit" value='absenden' />
        <input class="btn btn-primary btn-group" type="reset" value='abbrechen' />
    </p>


    @* Hinzufügen der verschiedenen programmiersprachen zum Auswählen bei der Registrierung--> *@
</form>

