@{
    ViewData["Title"] = "Home Page";
}

<h1> Welcome to TechnicHub!</h1>

<div class="homeContent">
    <p>Trete userer Community bei, um dich mit anderen Developern auszutauschen!</p>
    <br />

    <p>Falls du bereits registriert bist kannst du dich <a href="profile/login">hier</a> anmelden!</p>

    <br />
    <p>Du besitzt noch kein Konto? Kein Problem - du kannst dich <a href="profile/registration">hier</a> kostenlos registrieren!</p>
</div>